---
import Callout from "../components/Callout.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="pt-20 lg:px-16 px-4">
    <Callout>
      I am in the process of aggregating all of my talks from various platforms.
      Stay tuned!
    </Callout>
    <h1>Talks</h1>
    <span class="text-pink-700 heading5 block mb-6"
      >Check out my conference talks and other public speaking.</span
    >

    <div class="mt-10">
      <h2 class="heading3 font-bold">Upcoming Talks</h2>
      <div class="mt-4">
        <p class="text-lg">
          I don't have any upcoming talks scheduled at the moment. Check back
          later!
        </p>
      </div>
    </div>
    <div class="mt-10">
      <h2 class="heading3 font-bold">Past Talks</h2>
      <div class="mt-4">
        <p class="text-lg">
          I'm working on adding my past talks here. Check back later!
        </p>
      </div>
    </div>
  </section>
</BaseLayout>
