---

---

<header class="w-full lg:px-16 fixed bg-pink-600/10 backdrop-blur-lg px-4 z-50">
  <nav class="flex flex-row justify-between py-4">
    <a
      href="/"
      class="hover:underline text-pink-700 text-lg font-medium leading-none py-1 px-3 bg-white/70 rounded-3xl align-middle"
      >goodeveningshaun.dev</a
    >
  </nav>
</header>
