---

---

<header>
  <nav class="flex flex-row justify-between px-8 py-4">
    <span class="font-normal text-2xl font-mono">
      {"<"}
      <span class="font-bold text-pink-600 font-mono">
        <a href="/" class="hover:underline">GoodEveningShaun.Dev</a>
      </span>
      {" "}
      <span class="text-green-700 font-bold font-mono">data-theme</span>{"="}
      <button
        id="themeToggle"
        class="text-sky-700 font-normal text-lg font-mono"></button>{" />"}
    </span>
  </nav>
</header>
<script is:inline>
  const setThemeButtonText = (theme) => {
    const buttonElement = document.getElementById("themeToggle");
    buttonElement.innerText = `"${theme}"`;
  };

  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      const theme = localStorage.getItem("theme");
      setThemeButtonText(theme);
      return theme;
    }

    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      setThemeButtonText("dark");
      return "dark";
    }
    setThemeButtonText("light");
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.setAttribute("data-theme", "light");
  } else {
    document.documentElement.setAttribute("data-theme", "dark");
  }

  window.localStorage.setItem("theme", theme);

  const handleToggleClick = () => {
    const documentElement = document.documentElement;
    const currentTheme = documentElement.getAttribute("data-theme");
    const newTheme = currentTheme === "dark" ? "light" : "dark";

    document.documentElement.setAttribute("data-theme", newTheme);
    localStorage.setItem("theme", newTheme);

    const buttonElement = document.getElementById("themeToggle");
    buttonElement.innerText = `"${newTheme}"`;
  };

  document
    .getElementById("themeToggle")
    .addEventListener("click", handleToggleClick);
</script>
