---
import ThemeIcon from "./ThemeIcon.astro";
import HamburgerMenu from "./HamburgerMenu.astro";
---

<header
  id="header-container"
  class="w-full lg:px-16 fixed px-4 py-1 z-50 sm:grid sm:grid-cols-3 flex justify-between backdrop-blur-none bg-pink-700 transition-colors duration-700"
>
  <a
    href="/"
    class="text-2xl leading-none font-semibold text-pink-50 self-center whitespace-nowrap tracking-tighter"
    >Shaun<span class="font-normal text-2xl">Evening</span></a
  >
  <nav class="sm:flex items-center justify-center hidden">
    <div class="py-3 px-2 flex gap-4">
      <a
        href="/"
        class="hover:underline text-pink-50 text-lg font-medium leading-none tracking-tight"
        >Home</a
      >
      <a
        href="/blog"
        class="hover:underline text-pink-50 text-lg font-medium leading-none tracking-tight"
        >Blog</a
      >

      <a
        href="/talks"
        class="hover:underline text-pink-50 text-lg font-medium leading-none tracking-tight"
        >Talks</a
      >
    </div>
  </nav>
  <div class="sm:flex justify-end items-center hidden">
    <ThemeIcon />
  </div>
  <HamburgerMenu />
</header>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  document.documentElement.setAttribute("data-theme", theme);
  document
    .getElementById("themeToggle")
    .setAttribute("aria-checked", theme === "light" ? "false" : "true");
  window.localStorage.setItem("theme", theme);

  const handleToggleClick = () => {
    const element = document.documentElement;
    const toggleElement = document.getElementById("themeToggle");

    const isDark = element.getAttribute("data-theme") === "dark";
    element.setAttribute("data-theme", isDark ? "light" : "dark");
    toggleElement.setAttribute("aria-checked", isDark ? "false" : "true");
    localStorage.setItem("theme", isDark ? "light" : "dark");
  };

  document
    .getElementById("themeToggle")
    .addEventListener("click", handleToggleClick);
</script>

<script src="../scripts/mobile-menu.js"></script>
