---
import RightArrowIcon from "./icons/RightArrowIcon.astro";
import { SOCIAL_LINKS } from "../consts";
---

<section class="py-32 lg:px-16 px-4 bg-pink-100 dark:bg-gray-800">
  <span class="block heading4 leading-none mb-2"
    >We deserve a better internet!</span
  >
  <span class="block heading2">Let&apos;s build it together.</span>
  <a
    href={SOCIAL_LINKS.EMAIL}
    target="_blank"
    class="inline-block mt-6 transition-all hover:scale-110 font-semibold text-xl text-violet-50 hover:text-white border-2 border-pink-600 hover:border-pink-700 px-3 py-1 bg-pink-600 hover:bg-pink-700 leading-none rounded-3xl"
  >
    <span class="leading-none text-lg mr-2">Hire me</span>
    <RightArrowIcon />
  </a>
</section>
