---
const { title, subheading, fullWidth, class: classNames } = Astro.props;

const classes = [
  fullWidth && "max-w-full",
  !fullWidth && "max-w-3xl",
  "py-8",
  "lg:py-16",
  "lg:px-16",
  "px-4",
]
  .filter(Boolean)
  .join(" ");

const headingClasses = [subheading && subheading.length ? "!mb-0" : "mb-10"]
  .filter(Boolean)
  .join(" ");
---

<section class:list={[classes, classNames]}>
  <h2 class={headingClasses}>{title}</h2>
  {
    subheading && subheading.length && (
      <span class="heading4 font-normal text-pink-700 block mb-10">
        {subheading}
      </span>
    )
  }
  <slot />
</section>
